<!-- $Id: article_list.htm 16783 2009-11-09 09:59:06Z liuhui $ -->

{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<div class="form-div">
  <form action="javascript:searchHgcard()" name="searchForm" >
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
    {$lang.hgcard_suppliers} <input type="text" name="suppliers_name" id="suppliers_name" />
    <input type="submit" value="{$lang.button_search}" class="button" />
  </form>
</div>
<script language="JavaScript">
    function searchHgcard()
    {
        listTable.filter['suppliers_name'] = Utils.trim(document.forms['searchForm'].elements['suppliers_name'].value);
        listTable.filter['page'] = 1;
        
        listTable.loadList();
    }

</script>
<form method="POST" action="" name="listForm">
<!-- start hgcard list -->
<div class="list-div" id="listDiv">
{/if}

<table cellspacing='1' cellpadding='3'>
  <tr>
    <th><input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox">
      <a href="javascript:listTable.sort('id'); ">{$lang.id}</a></th>
    <th><a href="javascript:listTable.sort('hgcard_id'); ">{$lang.hgcard_id}</a></th>
    <th><a href="javascript:listTable.sort('hgcard_money'); ">{$lang.hgcard_money}</a></th>
    <th><a href="javascript:listTable.sort('hgcard_suppliers'); ">{$lang.hgcard_suppliers}</a></th>
    <th><a href="javascript:listTable.sort('hgcard_add_time'); ">{$lang.hgcard_add_time}</a></th>
    <th><a href="javascript:listTable.sort('hgcard_end_time'); ">{$lang.hgcard_end_time}</a></th>
    <th><a href="javascript:listTable.sort('hgcard_status'); ">{$lang.hgcard_status}</a></th>
    <th>{$lang.handler}</th>
  </tr>
  {foreach from=$hgcard_list item=list}
  <tr>
    <td><span><input name="checkboxes[]" type="checkbox" value="{$list.id}" />{$list.id}</span></td>
    <td class="first-cell">{$list.card_id|escape:html}</td>
    <td align="center">{$list.money|escape:html}</td>
    <td align="center">{$list.suppliers_name|escape:html}</td>
    <td align="center">{$list.add_time|escape:html}</td>
    <td align="center">{$list.end_times|escape:html}</td>
    <td align="center">
    {if $list.status eq 0}{$lang.hgcard_status_0}{/if}
    {if $list.status eq 1}{$lang.hgcard_status_1}{/if}
    {if $list.end_time <= $time},{$lang.hgcard_status_2}{/if}
    </td>
    <td align="center" nowrap="true">
    </td>
   </tr>
  {/foreach}
  <tr>&nbsp;
    <td align="right" nowrap="true" colspan="8">{include file="page.htm"}</td>
  </tr>
</table>

{if $full_page}
<!-- end hgcard list -->
</div>
</form>
<div>
  <input type="hidden" name="act" value="batch" />
  <select name="type" id="selAction" onchange="changeAction()">
    <option value="">{$lang.select_please}</option>
    <option value="hgcard_suppliers_change">{$lang.hgcard_suppliers_change}</option>
  </select>
  <input type="submit" value="{$lang.button_submit}" id="btnSubmit" name="btnSubmit" class="button" disabled="true" />
</div>

<script type="text/javascript" language="javascript">
  <!--
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}

  {literal}
  onload = function()
  {
      // 开始检查订单
      startCheckOrder();
  }
  {/literal}
  //-->
</script>
{include file="pagefooter.htm"}
{/if}
